.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 20px;
  
}

.project-card {
  display: flex;
  background: rgba(253, 253, 253, 0);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.39);
  transition: all 0.2s ease-in-out;
}

.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project-content {
  padding: 10px;
}

.profile-image {
  filter: brightness(0.7);
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
}

.greeting-box  {
  display: inline-block;
  background: #007BFF24;
  border: 1px solid rgba(87, 138, 247, 0.479);
  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 40px;

}



.greeting-text {
  color: #578af7;
  font-size: 0.8em;
  font-weight: 450;
}


.gradient-text {
  background: linear-gradient(45deg, rgb(165, 117, 255) 60%, rgb(75, 147, 255));
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.custom-divider-h1 {
    background: linear-gradient(90deg,rgb(75, 147, 255), rgb(148, 100, 236));
    height: 5px;
    width: 100px;
    margin: 0 auto;
    border-radius: 20px;

}

.content-about {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(100%, 250px), 500px));
  margin-top: 5%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}


.content-about__card {
  display: grid;
  max-width:1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit,minmax(min(100%, 280px), 280px));
  margin-top: 5%;
  gap: 15px;
  justify-content: space-around;
  justify-items: center;

}
.content-about__box __{
  border: 1px solid #77767b33;
  background: #77767b19;
  border-radius:10px;
  heigth: 200;

}

.content-about-card__text {
  color: white;
  padding-top: 15px;
  text-align: justify;
}

.bi {
  color: rgb(87, 138, 247);
  font-size: 30px;
  padding: 16px 18px;
  border: 0.1px;
  background: #007BFF24;
  border-radius:10px;


}

.content-about__text {
  text-align: left;
}
