{% extends "layout.html" %} {% load static %} {% block content %}

<div>
  <section id="Portfolio">
    <div class="container-inner">
      <div class="greeting-box greeting-text">Вітаю! 👋</div>
      <h1>Я<span class="gradient-text"> програміст-початківець</span></h1>
      <br />
      <p>
        Створюю різні додатки з чистим кодом та увагою да деталей.<br />Постійно
        навчаюсь та розвиваюсь в світі технологій.
      </p>
    </div>
  </section>
  <section id="About">
    <div class="container-inner">
      <h1>Про мене</h1>
      <div class="custom-divider-h1"></div>
      <div class="container-about">
        <div class="about-item">
          <p>{{ profile.about|linebreaks }}</p>
        </div>
        <div class="about-item">
          <img
            src="{{ profile.image.url }}"
            alt="my photo"
            class="profile-image"
          />
        </div>

        <div class="about-item">
          <i class="bi bi-code-slash icon-box"></i>
          <p class="about-item__text"> Чистий код</p>
        </div>
        <div class="about-item">
          <i class="bi bi-rocket-takeoff icon-box"></i>
          <p class="about-item__text">Швидке навчання</p></div>
        <div class="about-item">
          <i class="bi bi-lightning-fill icon-box"></i>
          <p class="about-item__text">Завзятість</p>
        </div>

      </div>
   </div>
  </section>
  <section id="Projects">
    <div class="projects-grid">
      {% for project in projects %}
      <div class="project-card">
        <img
          src="{{ project.image.url }}"
          alt="{{ project.title }}"
          class="project-image"
        />
        <div class="project-content">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          {% if project.links %}
          <a href="{{ project.links }}" target="_blank" class="btn btn-primary"
            >View Project</a
          >
          {% endif %}
        </div>
      </div>
      {% empty %}
      <p>No projects yet</p>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock content %}
